# Dependency directories
node_modules/

# Environment configuration files
.env

# Build output directory
dist/
ComparisonCode/

# specific to for private use
./server2.js
serverOrignal.js
tokenGenerator.js
tokenGeneratorNExp.js
jwtGenratorPython.py
JWTokenTesting.js
# Logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db